html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}

.main-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 0.6;
  height: 60px;
  padding: 6px;
  margin-bottom: auto;
}

.middle-div {
  align-self: stretch;
  flex: 1;
}

.logo-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  padding-top: 6px;
}

.search-div {
  display: flex;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
  min-width: 360px;
}

.search-sub-div {
  display: flex;
  flex: 1;
  padding: 5px 8px 0 16px;
  padding-left: 16px;
  padding-left: 14px;
}

.glass-div {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.glass-sub-div {
  margin: auto;
}

.span {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.text-input-sub-div {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
}

.text-input-div {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.search-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
}

.buttons-div {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 11px 4px;
  flex-wrap: nowrap;
}

.languages-div {
  font-size: small;
  pading-bottom: 100px;
}

.lower-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  margin-top: auto;
}

.footer-div {
  background: #f2f2f2;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.upper-footer-div {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
}

.lower-footer-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.left-lower-footer-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.right-lower-footer-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header-link-item {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-family: arial, sans-serif;
  white-space: nowrap;
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  padding: 6px;
  display: inline-block;
  box-sizing: content-box;
  line-height: 24px;
}

.header-circles {
  padding: 8px;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  box-sizing: border-box;
}

.header-user-image {
  padding: 4px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 50%;
}

.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.footer-link {
  color: #70757a;
  display: block;
  padding: 15px;
  white-space: nowrap;
  text-decoration: none;
}
